/* CSS Document */

p{
/* basic styling */
font-size: 1.1em;
width: 350px;

/* padding and margins */
margin-bottom: 15px;
}

label{
float:left;
padding-right: 10px;
text-align: right;
width: 80px;
}

input[type=text]{
height: 20px;
padding: 5px 10px;
width: 200px;
}

textarea{
height: 70px;
width: 200px;
padding: 5px 10px;
}

input[type=submit]{
margin-left: 90px;
padding: 2px 5px;
}